
CREATE DATABASE [MyShop]
go
Use [MyShop]
go
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NULL,
	[ProductId] [int] NULL,
	[OrderId] [int] NULL,
	[ImportPrice] [decimal](6, 2) NULL,
	[SalePrice] [decimal](18, 2) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderPlaced] [datetime2](7) NOT NULL,
	[OrderFulfilled] [datetime2](7) NULL,
	[CustomerId] [int] NULL,
	[Payment] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SalePrice] [decimal](6, 2) NULL,
	[ImportPrice] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 
GO
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Laptop')
GO
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Monitor')
GO
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Mouse')
GO
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 
GO
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [Address], [Phone], [Email]) VALUES (1, N'John', N'Doe', N'123 Main St, Cityville', N'+1 555-1234', N'john.doe@email.com')
GO
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [Address], [Phone], [Email]) VALUES (2, N'Jane', N'Smith', N'456 Oak Ave, Townsville', N'+1 555-5678', N'jane.smith@email.com')
GO
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [Address], [Phone], [Email]) VALUES (3, N'Bob', N'Johnson', N'789 Pine Rd, Villagetown', N'+1 555-9012', N'bob.johnson@email.com')
GO
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 
GO
INSERT [dbo].[OrderDetails] ([Id], [Quantity], [ProductId], [OrderId], [ImportPrice], [SalePrice]) VALUES (1, 5, 35, 1, CAST(900.00 AS Decimal(6, 2)), CAST(1200.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[OrderDetails] ([Id], [Quantity], [ProductId], [OrderId], [ImportPrice], [SalePrice]) VALUES (10, 1, 38, 12, CAST(0.00 AS Decimal(6, 2)), CAST(0.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[OrderDetails] ([Id], [Quantity], [ProductId], [OrderId], [ImportPrice], [SalePrice]) VALUES (17, 1, 36, 108, CAST(220.00 AS Decimal(6, 2)), CAST(300.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 
GO
INSERT [dbo].[Orders] ([Id], [OrderPlaced], [OrderFulfilled], [CustomerId], [Payment]) VALUES (1, CAST(N'2023-01-15T18:31:18.5837590' AS DateTime2), CAST(N'2023-01-17T18:31:18.5837590' AS DateTime2), 1, NULL)
GO
INSERT [dbo].[Orders] ([Id], [OrderPlaced], [OrderFulfilled], [CustomerId], [Payment]) VALUES (8, CAST(N'2023-02-02T10:15:00.0000000' AS DateTime2), CAST(N'2023-02-03T14:20:00.0000000' AS DateTime2), 12, NULL)
GO
INSERT [dbo].[Orders] ([Id], [OrderPlaced], [OrderFulfilled], [CustomerId], [Payment]) VALUES (11, CAST(N'2023-02-05T16:30:00.0000000' AS DateTime2), CAST(N'2023-02-06T20:45:00.0000000' AS DateTime2), 30, NULL)
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 
GO
INSERT [dbo].[Products] ([Id], [Name], [SalePrice], [ImportPrice], [Quantity], [CategoryId]) VALUES (35, N'Dell Inspiron', CAST(1200.00 AS Decimal(6, 2)), CAST(900.00 AS Decimal(18, 2)), 10, 1)
GO
INSERT [dbo].[Products] ([Id], [Name], [SalePrice], [ImportPrice], [Quantity], [CategoryId]) VALUES (36, N'Samsung Monitor', CAST(300.00 AS Decimal(6, 2)), CAST(220.00 AS Decimal(18, 2)), 15, 2)
GO
INSERT [dbo].[Products] ([Id], [Name], [SalePrice], [ImportPrice], [Quantity], [CategoryId]) VALUES (37, N'Logitech Wireless Mouse', CAST(20.00 AS Decimal(6, 2)), CAST(15.00 AS Decimal(18, 2)), 50, 3)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_OrderDetails_ProductId] ON [dbo].[OrderDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Orders_CustomerId] ON [dbo].[Orders]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0)) FOR [ImportPrice]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0)) FOR [SalePrice]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.0)) FOR [ImportPrice]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers_CustomerId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRevenueAndProfitByDay]
AS
BEGIN
    SELECT
        CONVERT(date, o.OrderPlaced) AS OrderPlaced,
        SUM(od.SalePrice * od.Quantity) AS Revenue,
        SUM((od.SalePrice - od.ImportPrice) * od.Quantity) AS Profit
    FROM
        OrderDetails od
        INNER JOIN Orders o ON od.OrderId = o.Id
    GROUP BY
        CONVERT(date, o.OrderPlaced)
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRevenueAndProfitByMonth]
AS
BEGIN
    SELECT
        MONTH(o.OrderPlaced) AS Month,
        SUM(od.SalePrice * od.Quantity) AS Revenue,
        SUM((od.SalePrice - od.ImportPrice) * od.Quantity) AS Profit
    FROM
        OrderDetails od
        INNER JOIN Orders o ON od.OrderId = o.Id
    GROUP BY
        MONTH(o.OrderPlaced)
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRevenueAndProfitByWeek]
AS
BEGIN
    SELECT
        DATEADD(DAY, 1 - DATEPART(WEEKDAY, MIN(o.OrderPlaced)), MIN(o.OrderPlaced)) AS StartOfWeek,
        SUM(od.SalePrice * od.Quantity) AS Revenue,
        SUM((od.SalePrice - od.ImportPrice) * od.Quantity) AS Profit
    FROM
        OrderDetails od
        INNER JOIN Orders o ON od.OrderId = o.Id
    GROUP BY
        DATEPART(ISO_WEEK, o.OrderPlaced)
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRevenueAndProfitByYear]
AS
BEGIN
    SELECT
        YEAR(o.OrderPlaced) AS Year,
        SUM(od.SalePrice * od.Quantity) AS Revenue,
        SUM((od.SalePrice - od.ImportPrice) * od.Quantity) AS Profit
    FROM
        OrderDetails od
        INNER JOIN Orders o ON od.OrderId = o.Id
    GROUP BY
        YEAR(o.OrderPlaced)
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTopSellingProductsCurrentMonth]
AS
BEGIN
    DECLARE @StartOfMonth DATETIME2;
    SET @StartOfMonth = DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()), 0);

    SELECT TOP 3
        OD.ProductId,
        P.Name,
        SUM(OD.Quantity) AS TotalQuantitySold
    FROM
        dbo.OrderDetails OD
    INNER JOIN
        dbo.Orders O ON OD.OrderId = O.Id
    INNER JOIN
        dbo.Products P ON OD.ProductId = P.Id
    WHERE
        O.OrderPlaced >= @StartOfMonth
    GROUP BY
        OD.ProductId, P.Name
    ORDER BY
        TotalQuantitySold DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTopSellingProductsCurrentWeek]
AS
BEGIN
    DECLARE @StartOfWeek DATETIME2;
    SET @StartOfWeek = DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0);

    SELECT TOP 3
        OD.ProductId,
        P.Name,
        SUM(OD.Quantity) AS TotalQuantitySold
    FROM
        dbo.OrderDetails OD
    INNER JOIN
        dbo.Orders O ON OD.OrderId = O.Id
    INNER JOIN
        dbo.Products P ON OD.ProductId = P.Id
    WHERE
        O.OrderPlaced >= @StartOfWeek
    GROUP BY
        OD.ProductId, P.Name
    ORDER BY
        TotalQuantitySold DESC;
END;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTopSellingProductsCurrentYear]
AS
BEGIN
    DECLARE @StartOfYear DATETIME2;
    SET @StartOfYear = DATEADD(YEAR, DATEDIFF(YEAR, 0, GETDATE()), 0);

    SELECT TOP 3
        OD.ProductId,
        P.Name,
        SUM(OD.Quantity) AS TotalQuantitySold
    FROM
        dbo.OrderDetails OD
    INNER JOIN
        dbo.Orders O ON OD.OrderId = O.Id
    INNER JOIN
        dbo.Products P ON OD.ProductId = P.Id
    WHERE
        O.OrderPlaced >= @StartOfYear
    GROUP BY
        OD.ProductId, P.Name
    ORDER BY
        TotalQuantitySold DESC;
END;
GO
USE [master]
GO
