/****** Object:  Database [MyShop]    Script Date: 30/12/2023 3:40:40 AM ******/
CREATE DATABASE [MyShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyShop', FILENAME = N'C:\Users\cvtai\MyShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyShop_log', FILENAME = N'C:\Users\cvtai\MyShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 30/12/2023 3:40:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 30/12/2023 3:40:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 30/12/2023 3:40:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProductId] [int] NULL,
	[OrderId] [int] NOT NULL,
	[ImportPrice] [int] NOT NULL,
	[SalePrice] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 30/12/2023 3:40:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderPlaced] [datetime2](7) NOT NULL,
	[OrderFulfilled] [datetime2](7) NULL,
	[CustomerId] [int] NULL,
	[Payment] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 30/12/2023 3:40:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SalePrice] [decimal](6, 2) NULL,
	[ImportPrice] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Laptop')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Monitor')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Mouse')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [Address], [Phone], [Email]) VALUES (1, N'John', N'Doe', N'123 Main St, Cityville', N'+1 555-1234', N'john.doe@email.com')
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [Address], [Phone], [Email]) VALUES (2, N'Jane', N'Smith', N'456 Oak Ave, Townsville', N'+1 555-5678', N'jane.smith@email.com')
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [Address], [Phone], [Email]) VALUES (3, N'Bob', N'Johnson', N'789 Pine Rd, Villagetown', N'+1 555-9012', N'bob.johnson@email.com')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [Quantity], [ProductId], [OrderId], [ImportPrice], [SalePrice]) VALUES (1, 5, 35, 1, 900, 1200)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [OrderPlaced], [OrderFulfilled], [CustomerId], [Payment]) VALUES (1, CAST(N'2023-01-15T08:30:00.0000000' AS DateTime2), CAST(N'2023-01-16T12:45:00.0000000' AS DateTime2), 1, NULL)
INSERT [dbo].[Orders] ([Id], [OrderPlaced], [OrderFulfilled], [CustomerId], [Payment]) VALUES (2, CAST(N'2023-01-16T10:15:00.0000000' AS DateTime2), CAST(N'2023-01-17T14:20:00.0000000' AS DateTime2), 2, NULL)
INSERT [dbo].[Orders] ([Id], [OrderPlaced], [OrderFulfilled], [CustomerId], [Payment]) VALUES (3, CAST(N'2023-01-17T11:45:00.0000000' AS DateTime2), CAST(N'2023-01-18T16:30:00.0000000' AS DateTime2), 3, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [SalePrice], [ImportPrice], [Quantity], [CategoryId]) VALUES (35, N'Dell Inspiron', CAST(1200.00 AS Decimal(6, 2)), CAST(900.00 AS Decimal(18, 2)), 10, 1)
INSERT [dbo].[Products] ([Id], [Name], [SalePrice], [ImportPrice], [Quantity], [CategoryId]) VALUES (36, N'Samsung Monitor', CAST(300.00 AS Decimal(6, 2)), CAST(220.00 AS Decimal(18, 2)), 15, 2)
INSERT [dbo].[Products] ([Id], [Name], [SalePrice], [ImportPrice], [Quantity], [CategoryId]) VALUES (37, N'Logitech Wireless Mouse', CAST(20.00 AS Decimal(6, 2)), CAST(15.00 AS Decimal(18, 2)), 50, 3)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
/****** Object:  Index [IX_OrderDetails_OrderId]    Script Date: 30/12/2023 3:40:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderId] ON [dbo].[OrderDetails]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_ProductId]    Script Date: 30/12/2023 3:40:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_ProductId] ON [dbo].[OrderDetails]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CustomerId]    Script Date: 30/12/2023 3:40:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CustomerId] ON [dbo].[Orders]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 30/12/2023 3:40:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0)) FOR [ImportPrice]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0)) FOR [SalePrice]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.0)) FOR [ImportPrice]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers_CustomerId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
/****** Object:  StoredProcedure [dbo].[GetTopSellingProductsCurrentMonth]    Script Date: 30/12/2023 3:40:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTopSellingProductsCurrentMonth]
AS
BEGIN
    DECLARE @StartOfMonth DATETIME2;
    SET @StartOfMonth = DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()), 0);

    SELECT TOP 10
        OD.ProductId,
        P.Name,
        SUM(OD.Quantity) AS TotalQuantitySold
    FROM
        dbo.OrderDetails OD
    INNER JOIN
        dbo.Orders O ON OD.OrderId = O.Id
    INNER JOIN
        dbo.Products P ON OD.ProductId = P.Id
    WHERE
        O.OrderPlaced >= @StartOfMonth
    GROUP BY
        OD.ProductId, P.Name
    ORDER BY
        TotalQuantitySold DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTopSellingProductsCurrentWeek]    Script Date: 30/12/2023 3:40:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTopSellingProductsCurrentWeek]
AS
BEGIN
    DECLARE @StartOfWeek DATETIME2;
    SET @StartOfWeek = DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0);

    SELECT TOP 10
        OD.ProductId,
        P.Name,
        SUM(OD.Quantity) AS TotalQuantitySold
    FROM
        dbo.OrderDetails OD
    INNER JOIN
        dbo.Orders O ON OD.OrderId = O.Id
    INNER JOIN
        dbo.Products P ON OD.ProductId = P.Id
    WHERE
        O.OrderPlaced >= @StartOfWeek
    GROUP BY
        OD.ProductId, P.Name
    ORDER BY
        TotalQuantitySold DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTopSellingProductsCurrentYear]    Script Date: 30/12/2023 3:40:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTopSellingProductsCurrentYear]
AS
BEGIN
    DECLARE @StartOfYear DATETIME2;
    SET @StartOfYear = DATEADD(YEAR, DATEDIFF(YEAR, 0, GETDATE()), 0);

    SELECT TOP 10
        OD.ProductId,
        P.Name,
        SUM(OD.Quantity) AS TotalQuantitySold
    FROM
        dbo.OrderDetails OD
    INNER JOIN
        dbo.Orders O ON OD.OrderId = O.Id
    INNER JOIN
        dbo.Products P ON OD.ProductId = P.Id
    WHERE
        O.OrderPlaced >= @StartOfYear
    GROUP BY
        OD.ProductId, P.Name
    ORDER BY
        TotalQuantitySold DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTotalPaymentByDay]    Script Date: 30/12/2023 3:40:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTotalPaymentByDay]
AS
BEGIN
    SELECT
        CONVERT(date, O.OrderPlaced) AS OrderDate,
        SUM(OD.Quantity * OD.SalePrice) AS TotalPayment
    FROM
        dbo.Orders O
    JOIN
        dbo.OrderDetails OD ON O.Id = OD.OrderId
    GROUP BY
        CONVERT(date, O.OrderPlaced)
    ORDER BY
        CONVERT(date, O.OrderPlaced);
END
GO
/****** Object:  StoredProcedure [dbo].[GetTotalPaymentByProductAndMonth]    Script Date: 30/12/2023 3:40:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTotalPaymentByProductAndMonth]
    @ProductId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        DATEADD(MONTH, DATEDIFF(MONTH, 0, o.OrderPlaced), 0) AS StartOfMonth,
        SUM(od.ImportPrice * od.Quantity) AS TotalPayment
    FROM 
        dbo.OrderDetails od
    INNER JOIN 
        dbo.Orders o ON od.OrderId = o.Id
    WHERE 
        od.ProductId = @ProductId
    GROUP BY 
        DATEADD(MONTH, DATEDIFF(MONTH, 0, o.OrderPlaced), 0)
    ORDER BY 
        StartOfMonth;
END
GO
/****** Object:  StoredProcedure [dbo].[GetTotalPaymentByProductAndWeek]    Script Date: 30/12/2023 3:40:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTotalPaymentByProductAndWeek]
    @ProductId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        DATEADD(WEEK, DATEDIFF(WEEK, 0, o.OrderPlaced), 0) AS StartOfWeek,
        SUM(od.ImportPrice * od.Quantity) AS TotalPayment
    FROM 
        dbo.OrderDetails od
    INNER JOIN 
        dbo.Orders o ON od.OrderId = o.Id
    WHERE 
        od.ProductId = @ProductId
    GROUP BY 
        DATEADD(WEEK, DATEDIFF(WEEK, 0, o.OrderPlaced), 0)
    ORDER BY 
        StartOfWeek;
END
GO
/****** Object:  StoredProcedure [dbo].[GetTotalPaymentByProductAndYear]    Script Date: 30/12/2023 3:40:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTotalPaymentByProductAndYear]
    @ProductId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        DATEADD(YEAR, DATEDIFF(YEAR, 0, o.OrderPlaced), 0) AS StartOfYear,
        SUM(od.ImportPrice * od.Quantity) AS TotalPayment
    FROM 
        dbo.OrderDetails od
    INNER JOIN 
        dbo.Orders o ON od.OrderId = o.Id
    WHERE 
        od.ProductId = @ProductId
    GROUP BY 
        DATEADD(YEAR, DATEDIFF(YEAR, 0, o.OrderPlaced), 0)
    ORDER BY 
        StartOfYear;
END
GO
/****** Object:  StoredProcedure [dbo].[GetTotalPaymentByWeek]    Script Date: 30/12/2023 3:40:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTotalPaymentByWeek]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        DATEADD(WEEK, DATEDIFF(WEEK, 0, O.OrderPlaced), 0) AS StartOfWeek,
        SUM(OD.SalePrice * OD.Quantity) AS TotalPayment
    FROM 
        dbo.Orders O
    INNER JOIN 
        dbo.OrderDetails OD ON O.Id = OD.OrderId
    GROUP BY 
        DATEADD(WEEK, DATEDIFF(WEEK, 0, O.OrderPlaced), 0)
    ORDER BY 
        StartOfWeek;
END
GO
/****** Object:  StoredProcedure [dbo].[GetTotalPaymentByYear]    Script Date: 30/12/2023 3:40:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTotalPaymentByYear]
AS
BEGIN
    SELECT 
        DATEADD(WEEK, DATEDIFF(WEEK, 0, O.OrderPlaced), 0) AS StartOfWeek,
        YEAR(O.OrderPlaced) AS OrderYear,
        SUM(OD.ImportPrice * OD.Quantity) AS TotalPayment
    FROM
        dbo.Orders O
    INNER JOIN
        dbo.OrderDetails OD ON O.Id = OD.OrderId
    GROUP BY
        DATEADD(WEEK, DATEDIFF(WEEK, 0, O.OrderPlaced), 0),
        YEAR(O.OrderPlaced)
    ORDER BY
        StartOfWeek;
END;
GO
