<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Server" value=".\SQLEXPRESS"/>
		<add key="Database" value="Phone"/>
		<add key="Username" value="MSI\cvtai"/>
		<add key="Trusted_Connection" value="true"/>
	</appSettings>
</configuration>

<!--Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=MyShop;Integrated Security=True;-->